<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/angular-1.5.5/angular.js"></script>
    <style type="text/css">
    </style>
</head>
<body ng-app="myApp">
<div ng-controller="Aaa">

    <input type="button" value="{{text}}" ng-disabled="isDisabled" ng-click="btClick()">
    <input type="button" ng-value="text" ng-disabled="isDisabled" ng-click="btClick()">

</div>
</body>
<script type="text/javascript">
    /*
    * ng-disabled 按钮禁用
    * ng-readonly 输入框
    * ng-checked 是否可选择
    * ng-value 值
    * */
    var m1 = angular.module('myApp',[]);
    m1.controller('Aaa',['$scope','$interval',function ($scope,$interval) {

        var iNow = 5;
        $scope.text = iNow+'秒';
        $scope.isDisabled = true;
        $scope.btClick = function () {
            alert("我喜欢你！！！")
        };

        var timer = $interval(function () {
            iNow --;
            $scope.text = iNow+'秒';
            if(iNow == 0){
                $scope.isDisabled = false;
                $scope.text = '可以点击了';
                //clearInterval(timer) //原生清除定时器，不管用
                $interval.cancel(timer);
            }
        },1000);


    }]);

</script>
</html>